<div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="message" data-template="default"
    data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <div class="title #hide_name#">
        <div class="cmdName">#name_display#</div>
    </div>
    <div class="content-sm" style="padding: 5px;">
        <div style="margin-bottom: 5px;">
            <textarea class="form-control input-sm message" rows="2" placeholder="#message_placeholder#"
                data-cmd_uid="#uid#" data-cmd_id="#id#" style="margin-bottom: 3px;"></textarea>
        </div>
        <div style="text-align: center;">
            <a class="btn btn-sm btn-success execute" style="width: 100%;">
                <i class="fas fa-paper-plane"></i> #name_display#
            </a>
        </div>
    </div>

    <script>
        if ('#title_disable#' == '1') {
            document.querySelector('.cmd[data-cmd_uid="#uid#"] .title').style.display = 'none';
        }
        if ('#message_disable#' == '1') {
            document.querySelector('.cmd[data-cmd_uid="#uid#"] .message').style.display = 'none';
        }
        document.querySelector('.cmd[data-cmd_uid="#uid#"] .execute').addEventListener('click', function () {
            jeedom.cmd.execute({
                id: '#id#',
                value: {
                    title: '',
                    message: document.querySelector('.cmd[data-cmd_uid="#uid#"] .message').value
                }
            });
        });
    </script>
</div>