<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Titre}}</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="title" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#title#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listDeviceInfoTitle roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Message}}</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="description"
    rows="1" style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#description#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listDeviceInfoDescription roundedRight" type="button"
      title="{{Sélectionner la commande}}" data-cmd_id="#id#" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Footer}}</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="footer" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#footer#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listDeviceInfoFooter roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Lien}}</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="url" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#url#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listDeviceInfoUrl roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Fichier(s)}}</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="files" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#"
    placeholder="{{Chemin vers un ou plusieurs fichiers (séparés par ,) - Max 4}}">#files#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listDeviceInfoFiles roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>


<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Couleur}}</span>
  <input type="color" class="form-control input-sm cursor colorChooser" data-uid="#uid#" value="#color#"
    style="width: 20%; display: inline-block;" />
  <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="color" value="#color#"
    data-uid="#uid#" style="width: 80%; display: inline-block;" placeholder="{{Couleur (Hexa)}}" />
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Action rapide}}</span>
  <select class="form-control input-sm expressionAttr roundedRight" data-uid="#uid#"
    style="width: 50%; display: inline-block;" data-l1key="options" data-l2key="quickaction">
    <option value="">{{Aucune}}</option>
    #quickActionOptions#
  </select>
</div>


<script>
  document.querySelector('.listDeviceInfoTitle[data-uid="#uid#"]').addEventListener('click', function () {
    var options = {
      cmd: {
        type: '#message_cmd_type#'
      }
    }
    if ('#message_cmd_subtype#' != '') {
      options.cmd.subType = '#message_cmd_subtype#'
    }
    jeedom.cmd.getSelectModal(options, function (result) {
      document.querySelector('.expressionAttr[data-l1key=options][data-l2key=title][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  document.querySelector('.listDeviceInfoUrl[data-uid="#uid#"]').addEventListener('click', function () {
    var options = {
      cmd: {
        type: '#message_cmd_type#'
      }
    }
    if ('#message_cmd_subtype#' != '') {
      options.cmd.subType = '#message_cmd_subtype#'
    }
    jeedom.cmd.getSelectModal(options, function (result) {
      document.querySelector('.expressionAttr[data-l1key=options][data-l2key=url][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  document.querySelector('.listDeviceInfoDescription[data-uid="#uid#"]').addEventListener('click', function () {
    var options = {
      cmd: {
        type: '#message_cmd_type#'
      }
    }
    if ('#message_cmd_subtype#' != '') {
      options.cmd.subType = '#message_cmd_subtype#'
    }
    jeedom.cmd.getSelectModal(options, function (result) {
      document.querySelector('.expressionAttr[data-l1key=options][data-l2key=description][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  document.querySelector('.listDeviceInfoFooter[data-uid="#uid#"]').addEventListener('click', function () {
    var options = {
      cmd: {
        type: '#message_cmd_type#'
      }
    }
    if ('#message_cmd_subtype#' != '') {
      options.cmd.subType = '#message_cmd_subtype#'
    }
    jeedom.cmd.getSelectModal(options, function (result) {
      document.querySelector('.expressionAttr[data-l1key=options][data-l2key=footer][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  document.querySelector('.listDeviceInfoFiles[data-uid="#uid#"]').addEventListener('click', function () {
    var options = {
      cmd: {
        type: '#message_cmd_type#'
      }
    }
    if ('#message_cmd_subtype#' != '') {
      options.cmd.subType = '#message_cmd_subtype#'
    }
    jeedom.cmd.getSelectModal(options, function (result) {
      document.querySelector('.expressionAttr[data-l1key=options][data-l2key=files][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  document.querySelector('.colorChooser[data-uid="#uid#"]').addEventListener('change', function () {
    document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=color]').value = this.value
  })

  var _titleEl = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=title]')
  if (!_titleEl.value || _titleEl.value === '#' + 'title#') _titleEl.value = '#defaultTitle#'
  var _urlEl = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=url]')
  if (!_urlEl.value || _urlEl.value === '#' + 'url#') _urlEl.value = '#defaultUrl#'
  var _descriptionEl = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=description]')
  if (!_descriptionEl.value || _descriptionEl.value === '#' + 'description#') _descriptionEl.value = '#defaultDescription#'
  var _footerEl = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=footer]')
  if (!_footerEl.value || _footerEl.value === '#' + 'footer#') _footerEl.value = '#defaultFooter#'
  if (!document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=color]').value) {
    document.querySelector('.colorChooser[data-uid="#uid#"]').value = '#defaultColor#'
    document.querySelector('.colorChooser[data-uid="#uid#"]').dispatchEvent(new Event('change'))
  }
  var quickactionSelect = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=quickaction]');
  if ('#quickaction#' == '#' + 'quickaction' + '#') {
    document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=quickaction]').value = '#quickActionOptions#'
    quickactionSelect.selectedIndex = 0;
    document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=quickaction]').value = quickactionSelect.value;
  }
  else {
    quickactionSelect.value = '#quickaction#';
  }
  var _filesEl = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=files]')
  if (_filesEl.value === '#' + 'files#') _filesEl.value = ''
</script>