<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 100px">Fichiers</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="files" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#files#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listDeviceInfoFiles roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 100px">Message</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="message" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#message#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listDeviceInfoMessage roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<script>
  document.querySelector('.listDeviceInfoFiles[data-uid="#uid#"]').addEventListener('click', function () {
    var options = {
      cmd: {
        type: '#message_cmd_type#'
      }
    }
    if ('#message_cmd_subtype#' != '') {
      options.cmd.subType = '#message_cmd_subtype#'
    }
    jeedom.cmd.getSelectModal(options, function (result) {
      document.querySelector('.expressionAttr[data-l1key=options][data-l2key=files][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  document.querySelector('.listDeviceInfoMessage[data-uid="#uid#"]').addEventListener('click', function () {
    var options = {
      cmd: {
        type: '#message_cmd_type#'
      }
    }
    if ('#message_cmd_subtype#' != '') {
      options.cmd.subType = '#message_cmd_subtype#'
    }
    jeedom.cmd.getSelectModal(options, function (result) {
      document.querySelector('.expressionAttr[data-l1key=options][data-l2key=message][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  if ('#files#' == '#' + 'files#') document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key=options][data-l2key=files]').value = '#defaultPath#'
</script>