name: Build Translations

on:
  push:
    branches:
      - beta
    paths-ignore:
      - 'core/i18n/**'
  workflow_dispatch:
    inputs:
      languages:
        description: 'Langues cibles (séparées par des virgules)'
        required: true
        default: 'en_US,es_ES,de_DE,it_IT,pt_PT'

jobs:
  auto-translate:
    runs-on: ubuntu-latest
    steps:
      - uses: Mips2648/plugins-translations@main
        with:
          target_languages: ${{ inputs.languages || 'en_US,es_ES,de_DE,it_IT,pt_PT' }}
          use_core_translations: false
          deepl_api_key: ${{ secrets.DEEPL_API_KEY }}